a:link{
    color:rgb(186, 226, 43)
}
a, a:visited{
    color:rgb(202, 133, 30)
}
.topnav a {
    background-color: rgb(6, 49, 59);
}
body {
    background-color: #170277;
    color: rgb(0, 255, 64);
    font-family: Georgia, 'Times New Roman', Times, serif
}